h1 {
  text-align: center;
  margin: 50px 0 0 0;
}

/*翻書*/
.container_team {
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  background: grey;
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
  transition: 1s;
  margin: 20px 0;
}

.card:hover {
  transform: perspective(2000px);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.card .imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  transform-origin: left;
  z-index: 1;
  transition: 2s;
}

.card:hover .imgBox {
  transform: rotateY(-140deg);
}

.card .contents {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

/*品牌介紹*/
.brand_introduction {
  width: 1000px;
  height: 500px;
  background: grey;
  margin: 80px auto;
  border-radius: 1rem;
}

.brand_text {
  font-size: 32pt;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

hr {
  margin: 0 50px;
}

.brand_text2 {
  font-size: 20px;
  margin: 10px 50px;
  line-height: 2;
}

/*地圖*/
.map {
  text-align: center;
}
