* {
    font-family: 標楷體, Arial;
}

p {
    margin: 50px auto;
    color: white;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
}

.m_sales {
    font-size: 15pt;
    margin: 50px auto;
    text-align: center;
    border-color: #cf3030;
    width: 1000px;
    table-layout: fixed;
}