*{
    font-family: 標楷體,Arial;
}
p{
    margin: 50px 0 0 0;
    color: white;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
}
.m_sales{
    font-size: 15pt;
    margin: 50px 250px;
    text-align: center;
    border-color: #cf3030;
    width: 1000px;
    table-layout: fixed;
}
