.sec {
    width: 80%;
    min-height: 550px;
    background-color: rgba(207, 48, 48, 0.3);
    border-radius: 30px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16pt;
}

hr {
    width: 95%;
    margin: auto;
}

.revise {
    width: 80%;
    margin: 20px auto;
    font-size: 18pt;
    text-align: center;
}

form {
    display: block;
    width: 100%;
    margin: 30px;
    padding: 20px 10px;
}

label {
    width: 100px;
    margin: 10px;
    padding: 10px;
}

form input {
    border: none;
    border-bottom: 1px solid #cf3030;
    width: 80%;
    height: 30px;
}

#revise_btn {
    width: 93%;
    height: 40px;
    margin: 20px;
    border-bottom: none;
    border-radius: 40px;
    font-size: 18pt;
    color: #ededed;
    background: linear-gradient(to top, darkred, lightpink);
}

table {
    text-align: center;
    border: 3px solid gray;
    width: 90%;
    margin: 20px auto;
}

tr,
td {
    padding: 15px;
}

tr:nth-child(1) {
    background-color: rgba(221, 216, 217, 0.6);
    margin: 0;
}

td img {
    width: 150px;
}